:host ::ng-deep .ck-editor__editable {
    min-height: 300px;
}
.list-style{
    list-style-type: none;
    position: relative;
    left: 0;
    right: 0;
    padding-left: 0;
}
.publish_date{
    margin: 0px 0px 10px 0px;
}
.category_list a{
    font-size: 12px;
}
#editor1{
    background: white;
}
.img-link{
    border: 1px solid lavender;
    padding: 5px;
    cursor: pointer;
    color: cornflowerblue;
    margin-left: 10px
}