<main class="app-content" style="background-color:white">
    
    <div class="app-title">
      <div>
        <h1><i class="fa fa-newspaper-o"></i> Posts Page</h1>
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a routerLink="/post">Posts Page</a></li>
      </ul>
      
    </div>
    <form [formGroup]="postForm" (ngSubmit)="publishBlog()">
    <div class="row">
          <div class="col-md-12 col-lg-12">
            <angular-editor id="editor1" formControlName="htmlContent" [config]="config"></angular-editor>
          </div>
    </div>
    <div class="row" style="margin-top:2%;">
      <div class="col-md-12 col-lg-12">
          <button type="submit" class="btn btn-primary">Publish</button>
      </div>
    </div>
  </form> 
  </main>
  
