<main class="app-content">
    
  <div class="app-title">
    <div>
      <h1><i class="fa fa-wrench"></i> Profile Page</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a routerLink="/post">Profile Page</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="tab">
      <a class="links" routerLinkActive="active" routerLink='profile_basic'>Profile Basic</a>
      <a class="links" routerLinkActive="active" routerLink='profile_picture'>Profile Picture</a>
      <a class="links" routerLinkActive="active" routerLink='copyright'>Copyright</a>
    </div>
    
    <div id="HTML" class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

