* {
    color: #245; 
 }
 
 body {
     font-family: sans-serif;
     background-color: #f7f7f7;
 }
 
 div.tab {
     overflow: hidden;
     border: 1px solid #ccc;
     background-color: #eee;
     border-radius: 4px 4px 0 0;
     width: 100%;
 }
 
 div.tab a {
     background-color: #fff;
     float: left;
     border: none;
     outline: none;
     cursor: default;
     padding: 1em 1.2em;
     font-size: 1em;
     width: 33.3%;
     cursor:pointer;
 }
 
 div.tab a:hover {
     background-color: #ccc;
     color: #fff;
 }
 
 div.tab a.active {
     background-color: #ccc;
     color: #fff;
 }
 
 .content {
     background-color: #fff;
     padding: 0.5em 1em;
     border: 1px solid #ccc;
     border-top: none;
     border-radius: 0 0 4px 4px;
     width: 100%;
     min-height: 380px;
     max-height: auto;
 }