<main class="app-content">
    
  <div class="app-title">
    <div>
      <h1><i class="fa fa-wrench"></i> Profile Page</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a routerLink="/post">Profile Page</a></li>
    </ul>
  </div>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
              <label>Profile Name</label>
                <input type="text" class="form-control" name="fullname" formControlName="fullname" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors}" placeholder="Profile Name">
                <span class="help-block"
                    *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                      <span *ngIf="f.fullname.errors.required">
                        Full Name is required
                      </span>
                      <span *ngIf="f.fullname.errors.minlength || f.fullname.errors.maxlength">
                          Full Name must be greater than 2 characters and less than 10 characters
                      </span>
                </span>

          </div>
          <div class="form-group">
              <label>Designation</label>
              <input type="text" class="form-control" name="designation" formControlName="designation" placeholder="Designation" [ngClass]="{ 'is-invalid': submitted && f.designation.errors}">
              <span class="help-block"
                    *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                      <span *ngIf="f.designation.errors.required">
                        Designation is required
                      </span>
                </span>
            </div>
          <div class="form-group">
              <label>Organisation</label>
              <input type="text" class="form-control" name="organisation"   formControlName="organisation" placeholder="Organisation" [ngClass]="{ 'is-invalid': submitted && f.organisation.errors}">
              <span class="help-block"
                    *ngIf="submitted && f.organisation.errors" class="invalid-feedback">
                      <span *ngIf="f.organisation.errors.required">
                        Organisation is required.
                      </span>
                </span>
            </div>
          <div class="form-group">
              <label>Profile Image</label>
                <input type="text" readonly class="form-control"  formControlName="profile_pic" [ngClass]="{ 'is-invalid': submitted && f.profile_pic.errors}"/>
                <input type="file">
                <button type="button" class="btn btn-primary">Upload</button>

                <span class="help-block"
                    *ngIf="submitted && f.profile_pic.errors" class="invalid-feedback">
                      <span *ngIf="f.profile_pic.errors.required">
                        Profile image is required.
                      </span>
                </span>

              </div>
          <div class="form-group">
              <label>Copyright</label>
              <textarea class="form-control"  formControlName="copyright" [ngClass]="{ 'is-invalid': submitted && f.copyright.errors}"></textarea>
              <span class="help-block"
                    *ngIf="submitted && f.copyright.errors" class="invalid-feedback">
                      <span *ngIf="f.copyright.errors.required">
                        Copyright is required
                      </span>
                </span>
            </div>
          <button type="submit" class="btn btn-info">Update</button>
    </div>
  </div>
</form> 
</main>

