<flash-messages></flash-messages>

<div class="col-md-12 col-lg-12">
    <form [formGroup]="copyrightForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
                <label for="copyright">Copyright</label>
                <textarea formControlName="copyright" class="form-control" placeholder="Copyright" rows="8" [ngClass]="{'is-invalid':submitted && f.copyright.errors}"></textarea>
                <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                        <div *ngIf="f.copyright.errors.required">Copyright is required.</div>
                </div>
            </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form> 
</div>